
<h1>All Apps Index</h1>

	<% @apps.each do |app| %>
		<div class="wrapper">
			<h1><%= link_to app.title, app_path(app) %></h1>
			<!-- <p>Category: <%= app.category%></p> -->
			<p>Description: <%= app.description.to_s[0..30] + "..." %></p>
			<!-- <p>Imagelink: <%= app.imagelink%></p>
			<p>app_link: <%= app.applicationlink%></p> -->
			<%= link_to "Editeaza", edit_app_path(app) %> |
			<%= link_to "Sterge", app, :method => :delete, :confirm => "Sunteti Sigur?"  %> 
		</div>




	<% end %>
	<div class="clearer"></div>
	<br>

	<div id="addapp"><%= link_to "Adauga Aplicatie", new_app_path %></div>

<h2>Current Time is : <%= @ora_actuala %></h2>