<h1><%= @app.title %></h1>
<p>categoria : <%= @app.category %></p>
<p>linkimagine : <%= @app.imagelink %></p>
<p>linkimagine2 : <%= @app.imagelink2 %></p>
<p>linkimagine3 : <%= @app.imagelink3 %></p>
<p>linkimagine4 : <%= @app.imagelink4 %></p>
<p>linkimagine5 : <%= @app.imagelink5 %></p>
<p>linkaplicatie : <%= @app.applicationlink %></p>
<p>linkaplicatie2 : <%= @app.applicationlink2 %></p>
<p>descrierea : <%= @app.description %></p>

<small>Adaugat la: <%= @app.created_at %></small>
